
<!doctype html>
<html lang="en-US">
<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NMFQC46');</script>
	<!-- End Google Tag Manager -->
	<!-- Meta -->
	<meta name="p:domain_verify" content="49258456fa888eb1fa72fc97c2a9183a"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
	<meta name="description" content="Discover Wallid-Guergour’s unique universe where art meets industry. Explore Python tools, tailored welding solutions, and an inspiring portfolio blending creativity and technical mastery." />
	<meta name="keywords" content="metallurgy, welding, soldering, boilermaking, steel, Wallid-Guergour, industrial database, industrial resources, mig welding, mag welding, mig-mag, tig welding, coated electrode, steel, titanium, stainless steel, industrial blog, professional tips, industrial design, industrial innovation, tips and tricks, metallurgical industry, welding technologies, industrial processes, industrial equipment, welding techniques, welding training, industrial safety, industrial maintenance, metal fabrication">
	<meta name="author" content="Wallid-Guergour" />
	<meta property="og:type" content="website" />
        <meta property="og:title" content="Wallid-Guergour - Creativity, Industry, and Innovation" />
        <meta property="og:url" content="https://www.wallid-guergour.com/" />
        <meta property="og:description" content="Discover Wallid-Guergour’s unique universe where art meets industry. Explore Python tools, tailored welding solutions, and an inspiring portfolio blending creativity and technical mastery." />
	<!-- Popup bricolé -->
    <style>
		img {
			cursor: pointer;
			max-width: 100%;
			height: auto;
		}
		.bricolage {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: 9999;
		}
		.bricolage img {
			display: block;
			margin: auto;
			max-height: 90%;
			max-width: 90%;
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			color: white;
			font-size: 30px;
			font-weight: bold;
			cursor: pointer;
		}
	</style>
	<!-- Fin du bricolage-->

	<!-- Title -->
	<title>Wallid-Guergour - Creativity, Industry, and Innovation</title>
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "NewsArticle",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "https://www.wallid-guergour.com/"
			},
			"headline": "Wallid-Guergour - Creativity, Industry, and Innovation",
			"description": "Discover Wallid-Guergour’s unique universe where art meets industry. Explore Python tools, tailored welding solutions, and an inspiring portfolio blending creativity and technical mastery.",
			"image": [
			  "images/Google/Schema/Index/Data.webp"
			],
			"datePublished": "2020-01-01T08:00:00+08:00",
			"dateModified": "2022-05-22T09:20:00+08:00",
			"author": {
				"@type": "Person",
				"name": "Wallid-Guergour",
				"url": "https://www.wallid-guergour.com/"
			},
			"publisher": {
				"@type": "Organization",
				"name": "Wallid-Guergour",
				"url": "https://www.wallid-guergour.com/",
				"logo": {
					"@type": "ImageObject",
					"url": "images/Logo.png"
				}
			}
		}
		</script>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic" rel="stylesheet">

	<!-- Url Canonique-->
	<link rel = "canonical" href= "https://www.Wallid-Guergour.com">

	<!-- Styles -->
	<link rel="stylesheet" href="css/basic.css" />
	<link rel="stylesheet" href="css/layout.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/jarallax.css" />
	<link rel="stylesheet" href="css/swiper.css" />
	<link rel="stylesheet" href="css/fontawesome.css" />
	<link rel="stylesheet" href="css/brands.css" />
	<link rel="stylesheet" href="css/solid.css" />

	<!-- Theme Colors
	<link rel="stylesheet" href="css/theme-colors/blue.css" />
	<link rel="stylesheet" href="css/theme-colors/green.css" />
	<link rel="stylesheet" href="css/theme-colors/orange.css" />
	<link rel="stylesheet" href="css/theme-colors/brown.css" />
	<link rel="stylesheet" href="css/theme-colors/purple.css" />
	<link rel="stylesheet" href="css/theme-colors/red.css" />
	<link rel="stylesheet" href="css/theme-colors/beige.css" />
	<link rel="stylesheet" href="css/theme-colors/green_light.css" />
	<link rel="stylesheet" href="css/theme-colors/yellow.css" />
	<link rel="stylesheet" href="css/theme-colors/yellow_light.css" />
	-->
		
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="https://www.wallid-guergour.com/images/favicons/favicon.ico">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-60665QRHES"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-60665QRHES');
</script>
</head>

<body class="home">
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMFQC46"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- Preloader -->
	<div class="preloader">
		<div class="centrize full-width">
			<div class="vertical-center">
				<div class="spinner">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Container -->
	<div class="container">
		

		<!-- Cursor -->
		<div class="cursor-follower"></div>
	
		<!-- Header -->
		<header class="header">
			<div class="head-top">

				<!-- menu button -->
				<a href="#" class="menu-btn"><span></span></a>

				<!-- logo -->
				<div itemscope itemtype="http://schema.org/Organization">
				</div>
				<!-- Vue.js Application -->
				<div id="app">
					<img src="images/Items/Search.svg" width="100" alt="About me and my blog" class="">
					<main>
						<input type="text" v-model="query" placeholder="Rechercher...">
						<div id="results">
							<div v-for="item in filteredResults" :key="item.url" class="result-item">
								<h2><a :href="item.url">{{ item.title }}</a></h2>
								<p>{{ item.description }}</p>
							</div>
						</div>
						<p v-if="!filteredResults.length && query">Aucun résultat trouvé pour "{{ query }}"</p>
					</main>
				</div>
				
				<!-- top menu -->						
				<div class="top-menu hover-masks">
					<div class="top-menu-nav">	
						<div class="menu-topmenu-container">
							<ul class="menu">
								<li class="menu-item current-menu-item">
									<a href="#section-started">Home</a>
								</li>
								<li class="menu-item">
									<a href="#section-blog">Blog</a>
								</li>
								<li class="menu-item">
									<a href="#section-about">New post!</a>
								</li>
								<li class="menu-item">
									<a href="https://www.wallid-guergour.com/annex/About.html">About</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</header>
		
		<!-- Wrapper -->
		<div class="wrapper">	

			<!-- Section Started -->
			<div class="section started" id="section-started">
				

				<!-- background -->
				<div class="video-bg jarallax" style="background-image: url(images/Background/Background-Wallid-Guergour.webp);">
					<div class="video-bg-mask"></div>
					<div class="video-bg-texture" id="grained_container"></div>
				</div>

				<!-- started content -->
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<h1 class="h-title">
								Welcome to <strong>Wallid-Guergour’s</strong> World: Where <strong>Creativity</strong> Meets <strong>Industry</strong>
							</h1>
							
							<!--
							<div class="h-subtitle typing-subtitle">
								<p>Unlock the secrets of <strong>welding</strong> and <strong>industrial design</strong>.</p>
								<p>Master the <strong>art of welding</strong> with our <strong>expert tips</strong>.</p>
								<p>Discover the possibilities of <strong>welding</strong> and <strong>programming</strong>.</p>
							</div>
						-->
							<span class="typed-subtitle"></span>
						</div>
						<img src="images/Items/Header.svg" alt="About me and my blog" class="logo">
					</div>
				</div>

				<!-- mosue button -->
				<a href="#" class="mouse_btn" style="display: none;"><span class="icon fas fa-chevron-down"></span></a>

			</div>

			<div class="section about" id="section-blog">

				<!-- title -->
				<div class="title">
					<div class="title_inner">
						<h2>Explore My Passions: <strong>Programming</strong>, <strong>Welding</strong>, and Artistic <strong>Design</strong></h2>
					</div>
				</div>

				<div class="content content-box">
				
					<!-- desc -->
					<div class="desc">

						<img src="images/Items/About.svg" alt="About me and my blog">

						<h3 class="title_inner">Manifesto: A Journey Through <strong>Art</strong> and <strong>Precision</strong></h3>
					
					</br>
						Welcome to my world. Here begins a journey—not one mapped by the straight lines of logic,</br>
						but one that winds through the gears of imagination and the mechanics of ideas. </br>
						I am Wallid-Guergour, a craftsman of thoughts and forms, born at the crossroads of France and endless passions.</br>
					</br>
						This site is more than a <strong>portfolio</strong>; it is an open door to my universe:</br> 
						<strong>drawing</strong>, <strong>watchmaking</strong>, <strong>programming</strong>, <strong>writing</strong>,</br> 
						and the <strong>industrial trades</strong>. </br>
						My world is a tapestry of <strong>pixels</strong>, <strong>sketches</strong>, and tiny gears, where every cog tells a story.</br>
					</br>
						From the stroke of a pencil emerges a <strong>sketch</strong>; </br>
						from a line of <strong>code</strong>, a solution. Between the glow of a </br>
						<strong>weld</strong> and the rhythm of a <strong>watch</strong>, </br>
						I create a space where <strong>art</strong> meets <strong>precision</strong>, </br>
						where <strong>poetry</strong> speaks to <strong>technique</strong>.</br>
					</br>
						This is my laboratory, my workshop, and my library. </br>
						Here, you’ll find <strong>Python</strong> and <strong>Haskell tools</strong> </br>
						designed to <strong>automate</strong> and <strong>innovate</strong>, </br>
						<strong>tailored industrial solutions</strong> in <strong>welding</strong> and <strong>metallurgy</strong>, </br>
						and a <strong>unique portfolio</strong> that blends <strong>creativity</strong> with <strong>technical mastery</strong>.</br>
					</br>
						Behind every <strong>image</strong>, every line of <strong>code</strong>, </br>
						and every welded structure lies a story. </br>
						This manifesto is not an end, but a beginning. </br>
						Enter, explore, and be inspired by a vision where <strong>art</strong> and <strong>industry</strong> converge in perfect harmony.</br>
					
					</div>

					<!-- Services -->
					<div class="desc">

						<img src="images/Items/Master Your Skills.svg" alt="About me and my blog">

						<h2 class="title_inner">Explore My <strong>Solutions for Industry</strong> and <strong>Creation</strong></h2>
					    <p>
						Step into a realm where the art of <strong>metalwork</strong> and the power of <strong>code</strong> converge. 
						Each solution I offer is crafted to refine your <strong>industrial</strong> practices, 
						ignite your <strong>creativity</strong>, and guide you toward <strong>technical mastery</strong>. 
						Explore my <strong>welding and industry books</strong>, 
						my <strong>Python scripts</strong> for <strong>workflow automation</strong>, 
						and other <strong>innovative tools</strong> designed to drive your projects forward.</br>
					    </p>

						<h3 class="title_inner">Welding and Industry Books</h3>
					   <p>
						Immerse yourself in a world where practicality meets poetry. </br>
						Available on Amazon in both French and English, </br>
						these <strong>welding and industry books</strong> reveal the core principles of <strong>welding</strong>, </br>
						the mysteries of <strong>alloys</strong>, and the advanced methods shaping modern <strong>fabrication</strong>. </br>
						Each page blends proven insights with concrete examples, empowering you to achieve unparalleled <strong>technical finesse</strong>.</br>
					   </p>
					   <ul>
						<li>Clear Guidance: From <strong>fundamental basics</strong> to <strong>advanced techniques</strong>.</li></br>
						<li>Expert Advice: Draw from <strong>best practices</strong> used across the <strong>industry</strong>.</li></br>
                        <li>Accessible for All: Whether you’re a passionate hobbyist, a seasoned <strong>engineer</strong>, or a skilled <strong>artisan</strong>.</li></br>
					   </ul>

					   <a href="https://www.wallid-guergour.com/blog/CAD/3D-Modeling-Boilermaker-Welder-Wallid-Guergour.html" class="btn hover-animated">
						<span class="circle"></span>
						<span class="lnk">Explore These Books →</span>
					</a>
					</br>

					<img src="images/Items/Code Your Success.svg" alt="About me and my blog">

					   <h3 class="title_inner">Python Scripts for Automation and Creation</h3></br>
					   <p>
						At the intersection of <strong>software engineering</strong> and <strong>artistic expression</strong>, </br>
						my <strong>Python scripts</strong> redefine how you work. </br>
						Designed to optimize tools like <strong>Photoshop</strong>, they automate tedious tasks and enhance your <strong>productivity</strong>.</br> 
						Whether you’re a <strong>graphic artist</strong> or an <strong>engineer</strong>, </br>
						these solutions streamline and refine your <strong>workflows</strong>, leaving you free to focus on what you do best.</br>
					   </p>

					   <ul>
						<li>Advanced Automation: Leave repetitive <strong>tasks</strong> behind.</li></br>
						<li>Broad Compatibility: Integrate seamlessly with your favorite <strong>tools</strong>.</li></br>
						<li>Continuous Improvement: Enjoy <strong>scripts</strong> that evolve through regular updates.</li></br>
						<li>Practical Example: <strong>Automate batch image processing in Photoshop</strong> with just a few clicks.</li></br>
					   </ul>

					   <a href="https://www.wallid-guergour.com/blog/CAD/3D-Modeling-Boilermaker-Welder-Wallid-Guergour.html" class="btn hover-animated">
						<span class="circle"></span>
						<span class="lnk">Download my <strong>Python scripts →</span>
					</a>
				    </br>

					   <p>Through my <strong>books</strong> and <strong>tools</strong>, </br>
						I offer an inspired, holistic approach where <strong>steel</strong> and <strong>code</strong> </br>
						unite to reshape your <strong>industrial solutions</strong>. </br>
						Ready to revolutionize your <strong>industrial</strong> and <strong>creative</strong> pursuits? </br>
						Delve into my <strong>welding and industry books</strong>, </br>
						experiment with my <strong>Python scripts</strong>, </br>
						and join those who dare to push the boundaries of <strong>innovation</strong>.</br>
					    </p>
					</div>
                </div>
			</div>


			<!-- Works -->
			<div class="section works" id="section-portfolio">
				<div class="content">

					<!-- title -->
					<div class="title">
						<div class="title_inner">Réalisations</div>
					</div>
				
					<!-- portfolio filter -->
					<div class="filter-menu content-box">
						<div class="filters">
							<div class="btn-group">
								<label data-text="All" class="glitch-effect"><input type="radio" name="fl_radio" value=".box-item" />Tous</label>
							</div>
							<div class="btn-group">
								<label data-text="Boilermaking"><input type="radio" name="fl_radio" value=".f-Boilermaking" />Boilermaking</label>
							</div>
							<div class="btn-group">
								<label data-text="Welding"><input type="radio" name="fl_radio" value=".f-Welding" />Welding</label>
							</div>
							<div class="btn-group">
								<label data-text="Blog"><input type="radio" name="fl_radio" value=".f-Blog" />Blog Post</label>
							</div>
							<div class="btn-group">
								<label data-text="Drawing"><input type="radio" name="fl_radio" value=".f-Drawing" />Drawing</label>
							</div>
							<!-- <div class="btn-group">
								<label data-text="Poster"><input type="radio" name="fl_radio" value=".f-Poster" />Poster</label>
							</div> -->
						</div>
					</div>
					
					<!-- portfolio items -->
					<div class="box-items portfolio-items">

						<!-- Metallurgy Book -->
						
						<div class="box-item f-Blog">
							<div class="image">
								<a href="#popup-3" class="has-popup-media hover-animated">
									<img src="images/Blog/MOOC/Miniatures/Metallurgy-Book-Steel-Technics-Wallid-Guergour-Welding-Python-Boilermaking-France-England-Worldwide.webp" class="wp-post-image" alt="Metallurgy book of Wallid Guergour" />
									<span class="info circle">
										<span class="centrize full-width">
											<span class="vertical-center">
												<span class="icon fas fa-plus"></span>
												<span class="desc">
													<span class="category">MOOC</span>
													<span class="name">Metallurgy for newbies</span>
												</span>
											</span>
										</span>
									</span>
								</a>
							</div>
							<div id="popup-3" class="popup-box mfp-fade mfp-hide">
								<div class="content">
									<div class="image" style="background-image: url(images/Blog/MOOC/Miniatures/Metallurgy-Book-Steel-Technics-Wallid-Guergour-Welding-Python-Boilermaking-France-England-Worldwide-2.webp);"></div>
									<div class="desc single-post-text">
										<div class="category">Metallurgy Book</div>
										<h4>Learn basics of <strong>metallurgy</strong>.</h4>
										<p>
											Hello readers! I start to write this online book for help everyone to get <em>knowledge</em> at <strong>metallurgy</strong>.
											Good reading ~_^ 
																						
										</p>
										<a href="blog/metallurgy/Book/001-Page-one-of-metallurgy-book.html" class="btn hover-animated">
											<span class="circle"></span>
											<span class="lnk">Metallurgy Book</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						
					<!-- Fin Metallurgy Book -->

					<!-- Fisherman -->
					<!--
					<div class="box-item f-Blog">
						<div class="image">
							<a href="#popup-4" class="has-popup-media hover-animated">
								<img src="images/Blog/MOOC/Miniatures/Bassfishing-Wallid-Guergour-Lure-fishing-Pike-Perch.png" class="wp-post-image" alt="" />
								<span class="info circle">
									<span class="centrize full-width">
										<span class="vertical-center">
											<span class="icon fas fa-plus"></span>
											<span class="desc">
												<span class="category">MOOC</span>
												<span class="name"><strong>Blackbass fishing</strong></span>
											</span>
										</span>
									</span>
								</span>
							</a>
						</div>
						<div id="popup-4" class="popup-box mfp-fade mfp-hide">
							<div class="content">
								<div class="image" style="background-image: url(images/Blog/MOOC/Miniatures/Bassfishing-Wallid-Guergour-Lure-fishing-Pike-Perch.png);"></div>
								<div class="desc single-post-text">
									<div class="category">Lures fishing for dummies</div>
									<h4>Learn basics of <strong>bassfishing</strong>.</h4>
									<p>
										A part of my blog dedicated to <strong>lure fishing</strong>.
										Good reading ~_^ 
																					
									</p>
									<a href="blog/blog-Wallid-Guergour-Bass-Fishing.html" class="btn hover-animated">
										<span class="circle"></span>
										<span class="lnk">Start lure fishing</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					-->	
				<!-- Fin Fisherman -->
					
					<!-- Sous-châssis transformateur -->

						<div class="box-item f-Boilermaking">
							<div class="image">
								<a href="#gallery-1" class="has-popup-gallery hover-animated">
									<img src="images/Boilermaking/Frame-Boilermaking-with-Welding/Frame-Bloimermaking-Boilermaker-Welding-Wallid-Guergour-Steel-Technics-1.webp" class="wp-post-image" alt="Steel frame handcrafted" />
									<span class="info circle">
										<span class="centrize full-width">
											<span class="vertical-center">
												<span class="icon fas fa-images"></span>
												<span class="desc">
													<span class="category">Gallerie</span>
													<span class="name">Steel frame for electric transformer.</span>
												</span>
											</span>
										</span>
									</span>
								</a>
								<div id="gallery-1" class="mfp-hide">
									<a href="images/Boilermaking/Frame-Boilermaking-with-Welding/Frame-Bloimermaking-Boilermaker-Welding-Wallid-Guergour-Steel-Technics-1.webp"></a>
									<!--
									<a href="images/Boilermaking/Frame-Boilermaking-with-Welding/Frame-Bloimermaking-Boilermaker-Welding-Wallid-Guergour-Steel-Technics-2.webp"></a>
									<a href="images/Boilermaking/Frame-Boilermaking-with-Welding/Frame-Bloimermaking-Boilermaker-Welding-Wallid-Guergour-Steel-Technics-3.webp"></a>
									-->
								</div>	
							</div>
						</div>


                    <!-- Fin Sous-châssis transformateur -->
					<!-- Python pour soudeur -->
						
						<div class="box-item f-Blog">
							<div class="image">
								<a href="#popup-1" class="has-popup-media hover-animated">
									<img src="images/Programmation/Python-for-welding-Chambery-Wallid-Guergour-Steel-Technics-Lyon-France.webp" class="wp-post-image" alt="Software with Python for welding." />
									<span class="info circle">
										<span class="centrize full-width">
											<span class="vertical-center">
												<span class="icon fas fa-plus"></span>
												<span class="desc">
													<span class="category">Programmation</span>
													<span class="name">Python for welding</span>
												</span>
											</span>
										</span>
									</span>
								</a>
							</div>
							<div id="popup-1" class="popup-box mfp-fade mfp-hide">
								<div class="content">
									<div class="image" style="background-image: url(images/Programmation/Python-for-welding-Chambery-Wallid-Guergour-Steel-Technics-Lyon-header-France.webp);"></div>
									<div class="desc single-post-text">
										<div class="category">IT Programming</div>
										<h4>Python for welding.</h4>
										<p>
											Programming languages ​​are actually "easily" understandable commands
											by humans and which once recorded are interpreted or compiled (I will explain the differences later)
											by a program which takes care of translating the lines of code into binary language.
																						
										</p>
										<a href="blog/programming/python/Python-for-arc-welding.html" class="btn hover-animated">
											<span class="circle"></span>
											<span class="lnk">Variables</span>
										</a>

										<a href="blog/programming/python/Learn-Python-conditions-for-industial-field.html" class="btn hover-animated">
											<span class="circle"></span>
											<span class="lnk">Condtions</span> 
										</a>
									</div>
								</div>
							</div>
						</div>
						
					<!-- Fin Python pour soudeur -->

					<!-- Capot Romaire Acier-->

					<div class="box-item f-Boilermaking">
						<div class="image">
							<a href="#gallery-2" class="has-popup-gallery hover-animated">
								<img src="images/Boilermaking/welding-boilermaking-steel-hood/Welding-and-boilermaking-steel-hood-Wallid-Guergour-Steel-Technics-1.webp" class="wp-post-image" alt="Steel hood handcrafted and welded." />
								<span class="info circle">
									<span class="centrize full-width">
										<span class="vertical-center">
											<span class="icon fas fa-images"></span>
											<span class="desc">
												<span class="category">Gallerie</span>
												<span class="name">Steel protection hood (Welding et Boilermaking).</span>
											</span>
										</span>
									</span>
								</span>
							</a>
							<div id="gallery-2" class="mfp-hide">
								<a href="images/Boilermaking/welding-boilermaking-steel-hood/Welding-and-boilermaking-steel-hood-Wallid-Guergour-Steel-Technics-2.webp"></a>
								<a href="images/Boilermaking/welding-boilermaking-steel-hood/Welding-and-boilermaking-steel-hood-Wallid-Guergour-Steel-Technics-4.webp"></a>
							</div>	
						</div>
					</div>

					<!-- Fin Capot Romaire Acier -->
					<!-- Welding electrode enrobée-->
					
                    <div class="box-item f-Welding">
						<div class="image">
							<a href="images/Welding/Essaie_de_soudage_procédé_111_Wallid_Guergour_France_Chambéry.webp" class="has-popup-image hover-animated">
								<img src="images/Welding/Essaie_de_soudage_procédé_111_Wallid_Guergour_France_Chambéry.webp" class="wp-post-image" alt="Stick welding training" />
								<span class="info circle">
									<span class="centrize full-width">
										<span class="vertical-center">
											<span class="icon fas fa-image"></span>
											<span class="desc">
												<span class="category">Welding</span>
												<span class="name">Stick Welding test</span>
											</span>
										</span>
									</span>
								</span>
							</a>
						</div>
					</div>
					<!-- Fin Welding electrode enrobée-->

					<!-- train tank livery-->

				<div class="box-item f-Drawing">
					<div class="image">
						<a href="#gallery-train-tank" class="has-popup-gallery hover-animated">
							<img src="images/Graphic-Design/Train-livery-steel-technics-Wallid-Guergour-Miniature.webp" class="wp-post-image" alt="Train tank livery made with Photoshop" />
							<span class="info circle">
								<span class="centrize full-width">
									<span class="vertical-center">
										<span class="icon fas fa-images"></span>
										<span class="desc">
											<span class="category">Gallerie</span>
											<span class="name">Train tank livery.</span>
										</span>
									</span>
								</span>
							</span>
						</a>
						<div id="gallery-train-tank" class="mfp-hide">
							<a href="images/Graphic-Design/Train-livery-steel-technics-screenshot.webp"></a>
							<a href="images/Graphic-Design/Train-livery-steel-technics-Wallid-Guergour.webp"></a>
						</div>	
					</div>
				</div>
				
				<!-- Fin train tank livery-->

					
					<!-- Welding tubulaire-->

					<div class="box-item f-Boilermaking">
						<div class="image">
							<a href="#gallery-4" class="has-popup-gallery hover-animated">
								<img src="images/Boilermaking/Steel-Fence-Wallid-Guergour-Welding-Fabricator/Production-Fence-Cutting-Steel-Technics.webp" class="wp-post-image" alt="Steel fence made and welded by Wallid Guergour." />
								<span class="info circle">
									<span class="centrize full-width">
										<span class="vertical-center">
											<span class="icon fas fa-images"></span>
											<span class="desc">
												<span class="category">Gallerie</span>
												<span class="name">Production of steel fence.</span>
											</span>
										</span>
									</span>
								</span>
							</a>
							<div id="gallery-4" class="mfp-hide">
								<a href="images/Boilermaking/Steel-Fence-Wallid-Guergour-Welding-Fabricator/Pin-on-template-for-prodution-of-steel-fence.webp"></a>
								<a href="images/Boilermaking/Steel-Fence-Wallid-Guergour-Welding-Fabricator/Production-Steel-Fence-Wallid-Guergour-Boilermaker-Welder.webp"></a>
								<a href="images/Boilermaking/Steel-Fence-Wallid-Guergour-Welding-Fabricator/Steel-Fence-On-Template-Boilermaking-Ironworking-Welding.webp"></a>
							</div>	
						</div>
					</div>

					<!-- Fin Welding tubulaire-->
					

					<!-- Drawing portrait Fille aux fleurs-->

					<div class="box-item f-Drawing">
						<div class="image">
							<a href="#gallery-3" class="has-popup-gallery hover-animated">
								<img src="images/Drawing/Portraits/Drawing-portrait-pencil-felt-tip-pen-Steel-Technics-2.webp" class="wp-post-image" alt="Portrait with pencil" />
								<span class="info circle">
									<span class="centrize full-width">
										<span class="vertical-center">
											<span class="icon fas fa-images"></span>
											<span class="desc">
												<span class="category">Gallerie</span>
												<span class="name">Portrait pencils & felt-tip pens.</span>
											</span>
										</span>
									</span>
								</span>
							</a>
							<div id="gallery-3" class="mfp-hide">
								<a href="images/Drawing/Portraits/Drawing-portrait-pencil-felt-tip-pen-Steel-Technics-1.webp"></a>
								<a href="images/Drawing/Portraits/Drawing-portrait-pencil-felt-tip-pen-Steel-Technics-2.webp"></a>
							</div>	
						</div>
					</div>
					
					<!-- Fin Drawing portrait Fille aux fleurs-->

					<!-- Passage de porte -->

				<div class="box-item f-Boilermaking">
					<div class="image">
						<a href="#gallery-8" class="has-popup-gallery hover-animated">
							<img src="https://www.wallid-guergour.com/images/Chaudronnerie/Aluminium/Passage de porte aluminium 1.webp" class="wp-post-image" alt="Passage de porte" />
							<span class="info circle">
								<span class="centrize full-width">
									<span class="vertical-center">
										<span class="icon fas fa-images"></span>
										<span class="desc">
											<span class="category">Gallerie</span>
											<span class="name">Door element.</span>
										</span>
									</span>
								</span>
							</span>
						</a>
						<div id="gallery-8" class="mfp-hide">
							<a href="https://www.wallid-guergour.com/images/Chaudronnerie/Aluminium/Passage de porte aluminium 1.webp"></a>
							<a href="https://www.wallid-guergour.com/images/Chaudronnerie/Aluminium/Passage de porte aluminium 2.webp"></a>
							<a href="https://www.wallid-guergour.com/images/Chaudronnerie/Aluminium/Passage de porte aluminium 3.webp"></a>
						</div>	
					</div>
				</div>

			<!-- Passage de porte -->
					
					<!-- Module Mercury -->
						
					<div class="box-item f-Blog">
						<div class="image">
							<a href="#popup-2" class="has-popup-media hover-animated">
								<img src="images/Boilermaking/Module-Mercury-3D/Mercury-space-lego-boilermaking-astronomy-Steel-Technics.webp" class="wp-post-image" alt="Mercury module with 3DSMax." />
								<span class="info circle">
									<span class="centrize full-width">
										<span class="vertical-center">
											<span class="icon fas fa-plus"></span>
											<span class="desc">
												<span class="category">3D Modeling</span>
												<span class="name">3DSmax for Boilermaking</span>
											</span>
										</span>
									</span>
								</span>
							</a>
						</div>
						<div id="popup-2" class="popup-box mfp-fade mfp-hide">
							<div class="content">
								<div class="image" style="background-image: url(images/Boilermaking/Module-Mercury-3D/Steel-Technics-Nasa-Wallid-Guergour-Boilermaker-Welder-Mercury-Freedom7.png);"></div>
								<div class="desc single-post-text">
									<div class="category">Boilermaking</div>
									<h4>3D Software for boilermaking.</h4>
									<p>
										Here I present a Mercury (Freedom 7) module used for return to earth.</br>
                                        Modeled using 3DSmax. a sheet metal work complex in its conception, but paradoxically simple to imagine and use.
									</p>
									<a href="https://www.wallid-guergour.com/blog/CAD/3D-Modeling-Boilermaker-Welder-Wallid-Guergour.html" class="btn hover-animated">
										<span class="circle"></span>
										<span class="lnk">How to use 3D software for boilermaking?</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					
				<!-- Fin Module Mercury -->

				<!-- Formula one livery-->

				<div class="box-item f-Drawing">
					<div class="image">
						<a href="#gallery-formula-one" class="has-popup-gallery hover-animated">
							<img src="images/Graphic-Design/Formula-one-livery-miniature.webp" class="wp-post-image" alt="Formula one livery made with Photoshop." />
							<span class="info circle">
								<span class="centrize full-width">
									<span class="vertical-center">
										<span class="icon fas fa-images"></span>
										<span class="desc">
											<span class="category">Gallerie</span>
											<span class="name">Formula one livery.</span>
										</span>
									</span>
								</span>
							</span>
						</a>
						<div id="gallery-formula-one" class="mfp-hide">
							<a href="images/Graphic-Design/Formula-one-livery-steel-technics-Wallid-Guergour.webp"></a>
							<a href="images/Graphic-Design/Formula-one-livery-steel-technics-Wallid-Guergour-2.webp"></a>
						</div>	
					</div>
				</div>
				
				<!-- Fin Formula one livery-->

					</div>

					<div class="clear"></div>
				</div>
			</div>

			

			<!--SEPARATION TEXTUELLE-->
			<section id="Banner-du-bas" class="dark">
				<div class="container-fluid">
					<div class="row">
						<center><p>© 2019 website designed and crafted by <em>Wallid-Guergour</em> with <img src="https://www.wallid-guergour.com/images/Icones/Shaka-Steel-Technics-Wallid-Guergour-Welder-Boilermaker-Chambéry-Lyon-France-Suisse-Genève.png" alt="Shaka of Wallid-Guergour" width="30" height="30">. Canada.</p></center>
					</div>
				</div>
			</section>
			<!--SEPARATION TEXTUELLE-->

			

		</div>
		
		<!-- Footer -->
		<footer class="footer">
			<div class="copy">
				<img src="https://www.wallid-guergour.com/images/mail.png" alt="Just a simple mail logo">
			</div>
			<div class="soc-box">
				<div class="follow-label">Follow Me</div>
				<div class="soc" id="vue">
					<li><a :href="instagram" title="My Instagram!"><img src="https://www.wallid-guergour.com/images/Icones/Instagram.svg" alt="My Instagram" width="30" height="30"></a></li>
					<li><a :href="linkedin" title="My Linkedin!"><img src="https://www.wallid-guergour.com/images/Icones/LinkedIn.svg" alt="My LinkedIn" width="30" height="30"></a></li>
			</div>
			<div class="clear"></div>
		</footer>

		<!-- Lines -->
		<div class="lines">
			<div class="line-col"></div>
			<div class="line-col"></div>
			<div class="line-col"></div>
			<div class="line-col"></div>
			<div class="line-col"></div>
		</div>
		
	</div>

	<!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/app.js"></script> <!-- Utilisez app.js ou vue.js, mais pas les deux -->
    <script src="js/jquery.min.js"></script>
	<script src="js/pages.json"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/magnific-popup.js"></script>
    <script src="js/simpleParallax.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/jarallax.js"></script>
    <script src="js/jarallax-video.js"></script>
    <script src="js/jarallax-element.js"></script>
    <script src="js/imagesloaded.pkgd.js"></script>
    <script src="js/isotope.pkgd.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/grained.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({startOnLoad:true});
    </script>

	<!-- Google map api -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1mBSxau2AW4UIjQaOCeQBM9MSq1afQyQ"></script>

	<script src="js/scripts.js"></script>

	<!-- Bricolage de popup -->
	<script>
		function showPopup(img) {
			var popup = document.querySelector('.bricolage');
			var popupImg = popup.querySelector('img');
			popupImg.src = img.src;
			popup.style.display = 'flex';
		}
		function hidePopup() {
			var popup = document.querySelector('.bricolage');
			popup.style.display = 'none';
		}
	</script>
	<!-- Fin du bricolage -->

</body>
</html>